<h2>Groups</h2>

<table class="primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Passwords</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.passwords.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path, class: 'button' %>
