<h2><%= @user.name %></h2>

<table>
  <tr>
    <td class="form-field">Email:</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td class="form-field">Admin:</td>
    <td><%= @user.admin? %></td>
  </tr>
</table>